@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@300;400;800&display=swap');

@mixin content-text {
  font-family: Nunito;
  text-align: center;
  padding: 0 2rem 1rem;
}

@mixin center-content {
  display: block;
  margin: 0 auto;
}


$backgroundColor: #E5E5E5;
$whiteColor: #FFFFFF;
$blackishColor: #1F2937;
$greyColor: #D9D9D9;
$lightGreenColor: #73D0C1;
$greenColor: #18B69B;


*{
  margin: 0;
  padding: 0;
}

body {
  background-color: $backgroundColor;
}

.header-container {
  position: absolute;
  background-color: $whiteColor;
  width: 100vw;
  padding: 10px 0;
  text-align: center;
}

.background-svg {
  position: absolute;
  top: 38%;
  left: 65%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.main-container {
  position: absolute;
  background-color: $whiteColor;
  width: 500px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9px;
  margin-top: 20px;

  h2{
    @include content-text;
    padding-top: 1.5rem;
    font-weight: 800;
    font-size: 24px
  }

  p{
    @include content-text;
    font-weight: 300;
    font-size: 14px;
  }
}

.form-container {
  input {
    @include center-content;
    width: 425px;
    height: 20px;
    border: 1px solid $greyColor;
    border-radius: 6px;
    padding: 5px 10px;
    outline: none;

    &:focus {
      border: 1px solid $lightGreenColor;
    }
  }

  .error-text {
    padding: 0 26.7px;
    color: red;
    text-align: left;
  }

  .successful-message {
    font-family: Inter;
    font-size: 20px;
    color: $greenColor
  }

  .tos-checkbox{
    display: flex;
    input[type=checkbox] {
      display: inline-block;
      position: relative;
      width: 20px;
      margin: 0 0 20px;
      appearance: none;
      border: 1px solid $greyColor;
      padding: 9px;
      border-radius: 3px;
      cursor: pointer;

      &:checked {
        background-color: $greenColor;

      }

      &:checked::after {
        position: absolute;
        content: '\2714';
        font-size: 12px;
        top: 1px;
        left: 4px;
        color: $whiteColor;
      }
    }

    label {
      font-family: Nunito;
      font-weight: 400;
      font-size: 14px;

      span {
        color: $greenColor;
        cursor: pointer;
      }
    }
  }


  label {
    margin-left: 26.7px;
    color: $blackishColor;
    font-family: Nunito;
    font-weight: 300;
    font-size: 14px;
  }

  button {
    @include center-content;
    width: 75%;
    height: 40px;
    color: $whiteColor;
    background-color: $greenColor;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.sing-in-container {
  margin-top: 20px;
  text-align: center;
  line-height: 0;

  p {
    font-family: Inter;
    font-weight: 400;
    &:last-child {
      color: $greenColor;
      cursor: pointer;
    }
  }
}